@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination{
    text-align: center;
    margin-bottom: 50px;
}

.pagination .selected{
    background-color: #00ff11;
}

.pagination #but {
    font-size: x-large;
    padding: 0px 15px;
    margin-right: 5px;
    border: 2px solid #d1d400;
    border-radius: 5px;
   
} 